#!/usr/bin/env bash

set -euo pipefail

. direnv/use_nix.sh
watch_file direnv/use_nix.sh

use_nix -s nix/shell.nix \
  -w nix/sources.nix \
  -w nix/haskell.nix \

# FIXME: Nix sets these variables to prevent the use of any certs.
unset SSL_CERT_FILE
unset NIX_SSL_CERT_FILE
